<div class="check-out-history">
	<h1>- <%= @sort %>一覧 -</h1>
	<div class="form">
		<%= form_with url: admins_check_outs_path, method: :get, local: true do |f| %>
			<%= f.select :sort, [["貸出中", "貸出中"],["返却済", "返却済"]], selected: @sort %>
			<%= f.submit "決定", class: "btn-square-so-pop btn-gray" %>
		<% end %>
	</div>
	<% @check_outs.each do |check_out| %>
	<section class="check-out-item">
		<div class="main-content">
			<div class="header">
				<span><%= link_to check_out.user.name, admins_check_out_path(check_out) %></span>
			</div>
			<div class="body">
				<span><%= link_to check_out.created_at.to_s(:datetime_jp), admins_check_out_path(check_out) %></span>
				<span>返却日：<%= check_out.return_date %></span>
			</div>
		</div>
	</section>
<% end %>
</div>
