<h1>- ログイン -</h1>
<div class="login">
	<div class="form">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<p><%= f.label :email, "メールアドレス" %></p>
			<p><%= f.email_field :email, autofocus: true, placeholder: "admin@admin" %></p>
			<p><%= f.label :password, "パスワード" %></p>
			<p><%= f.password_field :password, placeholder: "password" %></p>
			<div class="login-submit">
				<%= f.submit "ログイン", class: "btn-square-so-pop btn-gray" %>
			</div>
		<% end %>
	</div>
</div>
