<h1>書籍一覧</h1>
<% @books.each do |book| %>
	<p><%= link_to book.code, admins_book_path(book) %></p>
	<p><%= book.title %></p>

	<% number_on_loans = CheckOutBook.where(book_id: book.id, status: true).size %>
	<% stock = book.stock - number_on_loans %>
	<% if stock < 1 %>
		<p style="color: red;">在庫: <%= stock %></p>
	<% elsif stock == 1 %>
		<p style="color: rgb(255, 174, 0);">在庫: <%= stock %></p>
	<% else %>
		<p>在庫: <%= stock %></p>
	<% end %>

	<p><%= link_to "edit", edit_admins_book_path(book) %></p>
	<p><%= link_to "delete", admins_book_path(book), method: :delete, data: { confirm: "Sure?" } %></p>
	<p>----------</p>
<% end %>