<div class="book-show">
	<h1>- 書籍一覧 -</h1>
	<div class="book">
		<div class="main-content">
			<div class="header">
				<span><%= @book.code %></span>
			</div>
			<div class="body">
				<span><%= @book.title %></span>
				<% if @stock < 1 %>
					<p style="color: red;">在庫 : <%= @stock %></p>
				<% elsif @stock == 1 %>
					<p style="color: rgb(255, 174, 0);">在庫 : <%= @stock %></p>
				<% else %>
					<p>在庫 : <%= @stock %></p>
				<% end %>
				<p>貸出数 : <%= @number_on_loans %></p>
				<p>仕入数 : <%= @book.stock %></p>
			</div>
		</div>
	</section>
</div>